<html data-ng-app="movieStubApp">
 
<head>
    <title>-</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/c3.min.css">

    <script type="text/javascript" src="js/lib/d3.min.js"></script>
    <script type="text/javascript" src="js/lib/c3.min.js"></script>
    <script type="text/javascript" src="js/lib/store_db.js"></script>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/ui-bootstrap-tpls-1.2.5.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller/controllers.js"></script>
    <!--<script type="text/javascript" src="js/router/routes.js"></script>-->
</head>
 
<body id="app_container" ng-controller="homeCtrl" style="width: 850px; height: 490px;overflow:hidden">
    <div id="msg_cont_id" style="height:60px;width:100%">
      <div id="error_alert" class="alert alert-danger" role="alert"><strong>Error&nbsp;</strong>{{errorMsg}}</div>
      <div id="msg_alert" class="alert alert-info" role="alert">{{infoMsg}}
        <!--<a class="btn btn-default btnStopDeploy" href="#" role="button">Stop Deploy</a>-->
        </div>
    </div>

    <div ng-if="uploading_algo" id="new_algo_cont">
      <div id="progress_bar"><div class="percent">0%</div></div>
      <div id="set_new_algo" ng-if="form_save_algo">
        <form class="form-inline" style="margin:0px">
          <div class="form-group">
            <label class="sr-only" for="algoName">Name</label>
            <input ng-model="newAlgo.name" style="border-radius:0px;width:250px" type="text" class="form-control" id="AlgoName" placeholder="{{newAlgo.algoName.split('.')[0] || ''}}" readonly>
          </div>
          <div class="btn-group" uib-dropdown  on-toggle="toggled(open)">
            <button id="single-button" type="button" ng-init="initTimeframe='m1'" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" style="background-color:#fff;color:#000;border:0px solid #fff;border-radius:0px;height:34px">
              {{newAlgo.algoType || ''}} <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a ng-click="selectType('Matlab')">Matlab</a></li>
              <li role="menuitem"><a ng-click="selectType('Python')">Python</a></li>
              <li role="menuitem"><a ng-click="selectType('R')">R</a></li>
            </ul>
          </div>
          <div class="btn-group" uib-dropdown>
            <button id="button-template-url" style="border-radius:0px" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
              {{newAlgo.algoImgName || ''}}<span class="caret"></span>
            </button>
            <ul uib-dropdown-menu style="border-radius:0px" template-url="dropdown.html" aria-labelledby="button-template-url">
            </ul>
          </div>
          <button style="border-radius:0px" class="btn btn-default" ng-click="save_new_algo()">Save</button>
        </form>
      </div>
      <div ng-if="statusAlert" class="alert alert-danger status_alert" role="alert">{{statusAlert || ''}}</div>
    </div>
    <div id="header_app">
      <span class="back_button" ng-if="!algo_conf_right_conf_algo"ng-click="hideBacktestAndIntegrationTest()"><i class="fa fa-arrow-left fa-border button_border"></i></span>
      <!--4Casters Console-->------
      <span class="conf_button"><i class="fa fa-bars fa-border button_border"></i></span>
    </div>
    <div id="container">
         
          <div class="algo_list_left">
            <table id="table_manage_fav_page" style="width:100%;color: #fff;border-radius: 16px;table-layout: fixed;">
              <tr ng-mouseover="change_hover_class(key)" ng-repeat="(key,value) in dataAlgos" style="height:68px" class="table_fav_tr" ng-click="selectAlgo($index)">
                <td style="width:67px;position:relative"> 
                  <img ng-click="deleteAlgo(key); $event.stopPropagation()" class="icon-close" src="img/close_ico.png" height="16" width="16">
                  <div class="pull-left thumb-sm avatar m-r" >
                      <div class="hexagon_algo" style="background-image: url(img/algos/default.png); background-repeat: no-repeat;z-index:4;position:absolute;background-color: #424345;margin-left:16px"></div>
                      <div class="hexagon_algo" style="background-image: url(img/algos/{{value.algoImgPath}}); background-repeat: no-repeat;z-index:8;margin-left:16px"></div>
                  </div>
                </td>
                <td>
                  <div class="algo_text_name">
                    <div class="editableName" style="display:inline-block;margin-left:19px">{{value.algoName.split('.')[0] }}</div>
                    <i ng-click="renameAlgo($event)" class="fa fa-pencil fa-1 newName" height="14" width="14"></i>
                    <i style="display:none" ng-click="cancelNewNameAlgo($event,$index)" class="fa fa-times fa-1 newName" height="14" width="14"></i>
                    <i style="display:none" ng-click="saveNewNameAlgo($event,$index)" class="fa fa-check fa-1 newName" height="14" width="14"></i>
                  </div>
                  <div class="algo_text_type">{{value.algoType}}</div>
                </td>
              </tr>
            </table>
          </div>
          <div class="algo_detail_right">
            <div ng-if="showAlgo">
            <div class="test_algo" >
              <div class="test_algo_left_line_container">
                <div class="test_algo_left_line_first"></div>
                <div class="test_algo_left_line_second" ng-if="dataCurrentAlgos.integrationTest.actionSkipped"></div>
                <div class="test_algo_circle">1</div>
                <div class="test_algo_circle_done"></div>
              </div>
              <div class="test_algo_detail_container">
                <div class="test_algo_label">Integration Test & Backtesting</div>
                <div class="skip_int_test_label"><a ng-click="skipTest('integrationTest')"><span>Skip Test</span></a></div>
                <div class="row test_algo_console">
                  <div class="col-xs-4" 
                    ng-class="{ 
                      'test_algo_console_error': dataCurrentAlgos.integrationTest.statusValue == -1,
                      'test_algo_console_todo': dataCurrentAlgos.integrationTest.statusValue == 0,
                      'test_algo_console_running': dataCurrentAlgos.integrationTest.statusValue == 1,
                      'test_algo_console_stop': dataCurrentAlgos.integrationTest.statusValue == 2
                    }" 
                  >{{dataCurrentAlgos.integrationTest.statusLabel}}</div>
                  <!--<div class="col-xs-4" style="height:26px;text-align:center;position:absolute;bottom:0px;z-index:50;color:#696969;font-size:14px"></div>-->
                  <div id="test_algo_console_label_id" class="test_algo_console_label ">
                    <div id="test_algo_console_label_val_id" ng-click="configurationAlgo($event,'integration'); $event.stopPropagation()" class="test_algo_console_label_val">
                      <i id="integration-param" class="fa fa-cog" style="font-size:15px;margin-top:2px"></i>
                    </div>
                  </div>
                  
                  <div class="col-xs-1 test_algo_console_cpu">
                    <div class="test_algo_console_cpu_label" style="line-height: 52px;">Cpu</div>
                  </div>
                  <div class="col-xs-2 test_algo_console_cpu" style="margin-left:0px">
                    <div class="test_algo_console_cpu_label" style="line-height: 53px;font-size:20px">{{dataCurrentAlgos.integrationTest.cpu}}</div>
                  </div>
                  <div class="col-xs-1 test_algo_console_ram">
                    <div class="test_algo_console_ram_label" style="line-height: 52px;">Ram</div>
                  </div>
                  <div class="col-xs-2 test_algo_console_ram">
                    <div class="test_algo_console_ram_label" style="line-height: 53px;font-size:20px">{{dataCurrentAlgos.integrationTest.ram}}</div>
                  </div>
                 
                  <!--<div class="col-xs-2 test_algo_console_ram_rate">
                    <div class="test_algo_console_ram_rate_label">Ram Incr.</div>
                    <div class="test_algo_console_ram_rate_value">{{dataCurrentAlgos.integrationTest.ramInc}}</div>
                  </div>-->
                  <div class="col-xs-1 test_algo_console_actions">
                    <div class="test_algo_console_reload">
                      <a ng-if="dataCurrentAlgos.integrationTest.param != '--' " ng-click="showBacktestAndIntegrationTest()">
                        <i class="fa fa-eye" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                      <!--<a ng-if="!dataCurrentAlgos.integrationTest.actionStart && dataCurrentAlgos.integrationTest.actionStop" ng-click="startIntegrationTest()">
                          <i class="fa fa-play-circle" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                      <a ng-if="dataCurrentAlgos.integrationTest.actionStart && !dataCurrentAlgos.integrationTest.actionStop" ng-click="stopIntegrationTest()">
                          <i class="fa fa-stop-circle" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>-->
                    </div>
                    <!--<div class="beta_server_algo_console_skip">
                      <a ng-if="dataCurrentAlgos.integrationTest.actionStart && !dataCurrentAlgos.integrationTest.actionStop" ng-click="showBacktestAndIntegrationTest()">
                        <i class="fa fa-eye" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>

            <!-- BETA SERVER -->

            <div class="beta_server_algo" ng-if="dataCurrentAlgos.integrationTest.actionSkipped">
              <div class="beta_server_algo_left_line_container">
                <div class="beta_server_algo_left_line_first"></div>
                <div class="beta_server_left_line_second" ng-if="dataCurrentAlgos.betaTest.actionSkipped"></div>
                <div class="beta_server_algo_circle">2</div>
                <div class="beta_server_algo_circle_done"></div>
              </div>
              <div class="beta_server_algo_detail_container">
                <div class="beta_server_algo_label">Staging server&nbsp;<span class="performance_server">( cpu: 33%, ram: 67% )</span></div>
                <div class="skip_beta_test_label"><a ng-click="skipTest('betaTest')"><span>Skip Test</span></a></div>
                <div class="row beta_server_algo_console">
                  <div class="col-xs-4"
                    ng-class="{ 
                      'beta_server_algo_console_error': dataCurrentAlgos.betaTest.statusValue == -1,
                      'beta_server_algo_console_todo': dataCurrentAlgos.betaTest.statusValue == 0,
                      'beta_server_algo_console_deployed': dataCurrentAlgos.betaTest.statusValue == 1,
                      'beta_server_algo_console_running': dataCurrentAlgos.betaTest.statusValue == 2,
                      'beta_server_algo_console_stopped': dataCurrentAlgos.betaTest.statusValue == 3
                    }" 
                  >{{dataCurrentAlgos.betaTest.statusLabel}}</div>
                  <!--<div class="beta_server_algo_console_label">
                    <div class="beta_server_algo_console_label_val">T</div>
                  </div>-->

                  <div id="betaTest_algo_console_label_id" class="test_algo_console_label">
                    <div id="betaTest_algo_console_label_val_id" ng-click="configurationAlgo($event,'betaTest'); $event.stopPropagation()" class="test_algo_console_label_val">
                      <i id="betaTest-param" class="fa fa-cog" style="font-size:15px;margin-top:2px"></i>
                    </div>
                  </div>

                  <div class="col-xs-1 beta_server_algo_console_cpu">
                    <div class="beta_server_algo_console_cpu_label" style="line-height: 52px;">Cpu</div>
                  </div>
                  <div class="col-xs-2 beta_server_algo_console_cpu" style="margin-left:0px">
                    <div class="beta_server_algo_console_cpu_label" style="line-height: 53px;font-size:20px">{{dataCurrentAlgos.betaTest.cpu}}</div>
                  </div>
                  <div class="col-xs-1 beta_server_algo_console_ram">
                    <div class="beta_server_algo_console_ram_label" style="line-height: 52px;">Ram</div>
                  </div>
                  <div class="col-xs-2 beta_server_algo_console_ram">
                    <div class="beta_server_algo_console_ram_label" style="line-height: 53px;font-size:20px">{{dataCurrentAlgos.betaTest.ram}}</div>
                  </div>




                  
                  <!--<div class="col-xs-2 beta_server_algo_console_ram_rate">
                    <div class="beta_server_algo_console_ram_rate_label">Ram Incr.</div>
                    <div class="beta_server_algo_console_ram_rate_value">20%</div>
                  </div>-->
                  <div class="col-xs-1 beta_server_algo_console_actions">
                    <div class="beta_server_algo_console_manage">
                      <a ng-if="!dataCurrentAlgos.betaTest.actionDeploy" ng-click="deployInBeta()">
                          <i class="fa fa-plus-circle" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                      <a ng-if="dataCurrentAlgos.betaTest.actionDeploy" ng-click="removeBetaAlgo()">
                          <i class="fa fa-minus-circle" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                      <!--<img ng-click="manageBetaAlgo()" style="margin-top:8px" src="img/reload.png" height="16" width="16">-->
                     
                    </div>
                    <div class="beta_server_algo_console_skip">
                      <a ng-if="dataCurrentAlgos.betaTest.actionDeploy && !dataCurrentAlgos.betaTest.actionStart && dataCurrentAlgos.betaTest.actionStop" ng-click="startAlgo('betaTest')">
                          <i class="fa fa-play-circle" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                      <a ng-if="dataCurrentAlgos.betaTest.actionDeploy && dataCurrentAlgos.betaTest.actionStart && !dataCurrentAlgos.betaTest.actionStop" ng-click="stopAlgo('betaTest')">
                          <i class="fa fa-stop-circle" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                      <!--<img ng-click="skipBetaTest()" style="margin-top:8px" src="img/next-arrow.png" height="14" width="14">-->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- BETA SERVER -->

            <!-- PROD SERVER -->

            <div class="prod_server_algo" ng-if="dataCurrentAlgos.betaTest.actionSkipped">
              <div class="prod_server_algo_left_line_container">
                <div class="prod_server_algo_left_line_first"></div>
                <div class="prod_server_algo_left_line_second"></div>
                <div class="prod_server_algo_circle">3</div>
                <div class="prod_server_algo_circle_done"></div>
              </div>
              <div class="prod_server_algo_detail_container">
                <div class="prod_server_algo_label">Production server&nbsp;<span class="performance_server">( cpu: 33%, ram: 67% )</div>
                <div class="row prod_server_algo_console">
                  <div class="col-xs-4" ng-class="{ 
                      'prod_server_algo_console_error': dataCurrentAlgos.prod.statusValue == -1,
                      'prod_server_algo_console_todo': dataCurrentAlgos.prod.statusValue == 0,
                      'prod_server_algo_console_deployed': dataCurrentAlgos.prod.statusValue == 1,
                      'prod_server_algo_console_running': dataCurrentAlgos.prod.statusValue == 2,
                      'prod_server_algo_console_stopped': dataCurrentAlgos.prod.statusValue == 3
                    }" >{{dataCurrentAlgos.prod.statusLabel}}</div>
                  <!--<div class="prod_server_algo_console_label">
                    <div class="prod_server_algo_console_label_val">T</div>
                  </div>-->

                  <div id="prod_algo_console_label_id" class="test_algo_console_label">
                    <div id="prod_algo_console_label_val_id" ng-click="configurationAlgo($event,'prod'); $event.stopPropagation()" class="test_algo_console_label_val">
                      <i id="prod-param" class="fa fa-cog" style="font-size:15px;margin-top:2px"></i>
                    </div>
                  </div>

                  <div class="col-xs-1 prod_server_algo_console_cpu">
                    <div class="prod_server_algo_console_cpu_label" style="line-height: 52px;">Cpu</div>
                  </div>
                  <div class="col-xs-2 prod_server_algo_console_cpu" style="margin-left:0px">
                    <div class="prod_server_algo_console_cpu_label" style="line-height: 53px;font-size:20px">{{dataCurrentAlgos.prod.cpu}}</div>
                  </div>
                  <div class="col-xs-1 prod_server_algo_console_ram">
                    <div class="prod_server_algo_console_ram_label" style="line-height: 52px;">Ram</div>
                  </div>
                  <div class="col-xs-2 prod_server_algo_console_ram">
                    <div class="prod_server_algo_console_ram_label" style="line-height: 53px;font-size:20px">{{dataCurrentAlgos.prod.ram}}</div>
                  </div>

                  <div class="col-xs-1 prod_server_algo_console_actions">
                    <div class="prod_server_algo_console_manage">
                      <a ng-if="!dataCurrentAlgos.prod.actionDeploy" ng-click="deployInProd()">
                          <i class="fa fa-plus-circle" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                      <a ng-if="dataCurrentAlgos.prod.actionDeploy" ng-click="removeProdAlgo()">
                          <i class="fa fa-minus-circle" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                    </div>
                    <div class="prod_server_algo_console_skip">
                      <a ng-if="dataCurrentAlgos.prod.actionDeploy && !dataCurrentAlgos.prod.actionStart && dataCurrentAlgos.prod.actionStop" ng-click="startAlgo('prod')">
                          <i class="fa fa-play-circle" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                      <a ng-if="dataCurrentAlgos.prod.actionDeploy && dataCurrentAlgos.prod.actionStart && !dataCurrentAlgos.prod.actionStop" ng-click="stopAlgo('prod')">
                          <i class="fa fa-stop-circle" style="font-size:20px;color:#ccc;margin-top:5px"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- PROD SERVER -->
          </div>
          </div>
          
       
    </div>
    <div id="container_algo_backtest_detail">



       <div class="row" style="margin-left:0px;margin-right:0px;height:10%">

        <div class="col-md-6 col-lg-6 col-xs-6" style="padding-right:0px">
          <div class="col-md-6 col-lg-6 col-xs-6 label_chart_class">From:</div>
          <div class="col-md-6 col-lg-6 col-xs-6" style="margin-top:11px">
            <p class="input-group">
              <input id="inputStart" style="border-radius:0px;border:1px solid #000;outline: none" type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
              <span id="inputStartSpan" class="input-group-btn" style="outline: none">
                <button id="inputStartButton" style="height:34px;border:1px solid #151515" type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xs-6" style="padding-left;">
          <div class="col-md-1 col-lg-1 col-xs-1 label_chart_class" style="text-align:left">To:</div>
          <div class="col-md-6 col-lg-6 col-xs-6" style="margin-top:11px;padding-left:5px">
            <p class="input-group">
              <input style="border-radius:0px;border:1px solid #000" type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span id="inputStopSpan" class="input-group-btn">
                <button id="inputStopButton" style="height:34px;border:1px solid #000" type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-5 col-lg-5 col-xs-5" style="margin-top:11px">
            <button ng-click="startBacktest()"  class="btn btn-default" style="background-color: #000;border-radius:0px;border:0px;width:69px;color:#fff;height:33px;font-size:14px;outline:0px">Start</button>
          </div>
        </div>
      </div>


      <div class="row" style="margin-left:0px;margin-right:0px">
        <div id="backtest_chart" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:55%;padding:0px">
        </div>
      </div>
      <div class="row" style="margin-left:0px;margin-right:0px;height:45%;">
        <div class="btn-group btn-group-justified" style="margin-top:-10px">

          <div class="btn" style="height:100px;padding:0px;cursor: default;">
            <div id="profitLoss"></div>
            <div class="labelDonutsChart">Profit/Loss pips</div>
          </div>
          <div class="btn" style="height:100px;padding:0px;cursor: default;">
            <div id="drawdown"></div>
            <div class="labelDonutsChart">Max/Min drawdown</div>
          </div>
          <div class="btn" style="height:100px;padding:0px;cursor: default;">
            <div id="shortLongPositions"></div>
            <div class="labelDonutsChart">Short/Long position</div>
          </div>
          <div class="btn" style="height:100px;padding:0px;cursor: default;">
            <div id="profitLossTrades"></div>
            <div class="labelDonutsChart">Profit/Loss trades</div>
          </div>
          <div class="btn" style="height:100px;padding:0px;cursor: default;">
            <div id="consecutiveWinLoss"></div>
            <div class="labelDonutsChart">Consecutive Win/Loss</div>
          </div>

        </div>
      </div>
    </div>
    <div class="algo_conf_right_conf_app">
      <form ng-if="show_conf_app_panel">
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text" class="form-control" id="inputUsername" ng-model="userName" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" ng-model="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="inputStaginIP">Staging server ip</label>
          <input type="text" class="form-control" id="inputStaginIP" ng-model="ipServer" placeholder="ip">
        </div>
        <div class="form-group">
          <label for="inputProductionIP">Production server ip</label>
          <input type="text" class="form-control" id="inputProductionIP" ng-model="ipProdServer" placeholder="ip">
        </div>
      </form>
    </div>
   
    <div class="algo_conf_right_conf_algo">
      <div ng-show="onlyReadConf == false">
        <div class="row" style="padding-bottom:20px;padding-left:6px">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:30px;padding-right:58px;color:#fff">
            <span>Configure all the currencies pairs you need for your algorithm</span>
          </div>
        </div>
        <div class="row" style="padding-bottom:5px;padding-left:6px">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="width:104px;color:#fff;margin-left:15px">Cross</div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="width:84px;color:#fff">TimeFrame</div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="width:80px;color:#fff">Values</div>
        </div>
        <form class="form-inline" style="padding-left:6px">
          <div class="form-group">
            <span style="color:#fff">1.</span>
            <!--<input type="cross" ng-model="crossValue" class="form-control" placeholder="Cross" style="width:100px;border:0px solid #fff;border-radius:0px">-->
            <div class="btn-group">
              <input type="text" placeholder="Cross" ng-model="selected_0_cross" typeahead-on-select="changeCross($item, $model, $label,0)" uib-typeahead="cross for cross in cross_list | filter:$viewValue | limitTo:8" class="form-control" style="width:100px;border-radius:0px;border:0px solid #fff">
            </div>
            <div class="btn-group" uib-dropdown  on-toggle="toggled(open)">

              <button id="single-button" type="button" ng-init="initTimeframe='m1'" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" style="width:80px;background-color:#fff;color:#000;border:0px solid #fff;border-radius:0px;height:34px">
                {{algo_setting[0].timeframe}} <span class="caret"></span>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="data in timeFrame">
                  <a ng-click="changeTimeframe(data,0)">{{data}}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group" uib-dropdown  on-toggle="toggled(open)">
              <button id="single-button" type="button" ng-init="initNumberData='1'" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" style="width:80px;background-color:#fff;color:#000;border:0px solid #fff;border-radius:0px;height:34px">
                {{algo_setting[0].values.split('v')[1]}} <span class="caret"></span>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="data in numberDatas">
                  <a ng-click="changeNumberData(data,0)">{{data}}</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
        <form class="form-inline" style="padding-left:6px">
          <div class="form-group" style="margin-top:12px">
            <span style="color:#fff">2.</span>
            <!--<input type="cross" ng-model="crossValue" class="form-control" placeholder="Cross" style="width:100px;border:0px solid #fff;border-radius:0px">-->
            <div class="btn-group">
              <input type="text" placeholder="Cross" ng-model="selected_1_cross" typeahead-on-select="changeCross($item, $model, $label,1)" uib-typeahead="cross for cross in cross_list | filter:$viewValue | limitTo:8" class="form-control" style="width:100px;border-radius:0px;border:0px solid #fff">
            </div>
            <div class="btn-group" uib-dropdown  on-toggle="toggled(open)">

              <button id="single-button" type="button" ng-init="initTimeframe='m1'" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" style="width:80px;background-color:#fff;color:#000;border:0px solid #fff;border-radius:0px;height:34px">
                {{algo_setting[1].timeframe}} <span class="caret"></span>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="data in timeFrame">
                  <a ng-click="changeTimeframe(data,1)">{{data}}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group" uib-dropdown  on-toggle="toggled(open)">
              <button id="single-button" type="button" ng-init="initNumberData='1'" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" style="width:80px;background-color:#fff;color:#000;border:0px solid #fff;border-radius:0px;height:34px">
                {{algo_setting[1].values.split('v')[1]}} <span class="caret"></span>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="data in numberDatas">
                  <a ng-click="changeNumberData(data,1)">{{data}}</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
        <form class="form-inline" style="padding-left:6px">
          <div class="form-group" style="margin-top:12px">
            <span style="color:#fff">3.</span>
            <!--<input type="cross" ng-model="crossValue" class="form-control" placeholder="Cross" style="width:100px;border:0px solid #fff;border-radius:0px">-->
            <div class="btn-group">
              <input type="text" placeholder="Cross" ng-model="selected_2_cross" typeahead-on-select="changeCross($item, $model, $label,2)" uib-typeahead="cross for cross in cross_list | filter:$viewValue | limitTo:8" class="form-control" style="width:100px;border-radius:0px;border:0px solid #fff">
            </div>
            <div class="btn-group" uib-dropdown  on-toggle="toggled(open)">

              <button id="single-button" type="button" ng-init="initTimeframe='m1'" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" style="width:80px;background-color:#fff;color:#000;border:0px solid #fff;border-radius:0px;height:34px">
                {{algo_setting[2].timeframe}} <span class="caret"></span>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="data in timeFrame">
                  <a ng-click="changeTimeframe(data,2)">{{data}}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group" uib-dropdown  on-toggle="toggled(open)">
              <button id="single-button" type="button" ng-init="initNumberData='1'" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" style="width:80px;background-color:#fff;color:#000;border:0px solid #fff;border-radius:0px;height:34px">
                {{algo_setting[2].values.split('v')[1]}} <span class="caret"></span>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="data in numberDatas">
                  <a ng-click="changeNumberData(data,2)">{{data}}</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
          <form class="form-inline">
            <div class="form-group" style="margin-top:30px;margin-left:15px">
              <button ng-click="saveAlgoParam()"  class="btn btn-default" style="background-color: #272628;border-radius:0px;border:0px;width:269px;color:#fff;height:38px;outline:0px">Save & Build</button>
              <!--<button class="btn btn-default" style="background-color: #696969;border-radius:0px;border:0px;width:132px;color:#fff;height:38px;outline:0px">Cancel</button>-->
            </div>
          </form>
          <!--<button type="submit" class="btn btn-default">Send invitation</button>-->
      </div>
      



      <div style="width:100%;height:100% "ng-show="onlyReadConf == true">
        
        <div class="row" style="padding-bottom:20px;padding-left:6px">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:30px;padding-right:58px;color:#fff">
            <span>Configure all the currencies pairs you need for your algorithm</span>
          </div>
        </div>
        <!--<div class="row" style="padding-bottom:5px;padding-left:6px">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="width:104px;color:#fff;margin-left:15px">Cross</div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="width:84px;color:#fff">TimeFrame</div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="width:80px;color:#fff">Values</div>
        </div>-->
        <table class="table tableConfAlgo" style="color:#fff;text-align:center;width:100%">
          <tr style="font-size:16px">
            <td>Cross</td>
            <td>TimeFrame</td> 
            <td>Values</td>
          </tr>
          <tr ng-show="data.cross != null" style="font-size:14px" ng-repeat="data in permanent_algo_setting">
            <td>{{ data.cross }}</td>
            <td>{{ data.timeframe }}</td>
            <td>{{ data.values }}</td>
          </tr>
        </table>

      </div>


    </div>


    <script type="text/ng-template" id="dropdown.html">
      <ul class="dropdown-menu" role="menu" aria-labelledby="button-template-url">
        <li ng-click="selectImg('1.png','image 1')" role="menuitem"><a><span><img src="img/algos/1.png" style="height: 25px;width: 25px;"><span style="padding-left:15px">Image 1</span></span></a></li>
        <li ng-click="selectImg('2.png','image 2')" role="menuitem"><a><span><img src="img/algos/2.png" style="height: 25px;width: 25px;"><span style="padding-left:15px">Image 2</span></span></a></li>
        <li ng-click="selectImg('3.png','image 3')" role="menuitem"><a><span><img src="img/algos/3.png" style="height: 25px;width: 25px;"><span style="padding-left:15px">Image 3</span></span></a></li>
        <li ng-click="selectImg('4.png','image 4')" role="menuitem"><a><span><img src="img/algos/4.png" style="height: 25px;width: 25px;"><span style="padding-left:15px">Image 4</span></span></a></li>
      </ul>
    </script>


  
</body>

<script>
  var dropZone = document.getElementById('app_container');
  dropZone.addEventListener('dragenter', function(e) {e.stopPropagation();e.preventDefault()}, false);  
  dropZone.addEventListener('dragover', function(e) {e.stopPropagation();e.preventDefault()}, false);  
  dropZone.addEventListener('drop', function(e){
    e.preventDefault();
    e.stopPropagation();
    
    console.log("in drop: "+e.target.attributes[0].value);
    
    angular.element($('#app_container')).scope().handleFileSelect(e);

  }, false);

  </script>


</html>
<!--<div data-ng-include src="headerSrc"></div>-->